<h1>Stupid Coaching</h1>

<p>ask your coach anything:</p>

  <form class="form-group d-flex" action="/answer" data-turbo="false">
    <input class="form-control column" type="text" name="question">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </form>
